.Repo {
  height: calc(100vh - 82px);
}
.Repo .contents {
  height: 100%;
  display: flex;
  background-color: rgb(33, 38, 43);
}
.Repo .explorer {
  width: 320px;
  padding: 15px;
  overflow: scroll;
  border-right: 1px solid white;
}
.Repo .fileviewer {
  padding: 15px;
  width: 800px;
  overflow: scroll;
}
.Repo .markdown-body {
  padding: 3em;
  background-color: white;
}
