.Home {
  height: calc(100vh - 76px);
  background-color: rgb(54, 54, 54);
}

.Home .container {
  height: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .container .title {
  color: rgb(245, 245, 245);
}
.Home .container .subtitle {
  color: rgb(245, 245, 245);
}
